body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #fff;
}

.nav .nav-link.active,
#fale-conosco button {
    background-color: rgb(41, 182, 31);
    color: #0b311c;
}

.nav .nav-link {
    color: #0b311c;
}

.text-up-carousel {
    background-color: rgb(41, 182, 31);
    font-family: 'Dancing Script';
    font-weight: 700;
    text-align: center;
}

h1, h2, h3 {
    color: #0b311c;
    font-family: 'Dancing Script';
    font-weight: 700;
}

h5 {
    color: #0b311c;
    font-family: 'Dancing Script';
    text-align: center;
}

.text-colored {
    color: #0b311c;
    font-family: 'open sans';
    font-weight: 700;
}

p {
    font-family: 'Open Sans';
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links li a {
    text-decoration: none;
}